@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #FAFAFA;
  --logo-color: #6936F5;
}

body {
  background-color: var(--background-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  /* display: flex;
  flex-direction: column; */
  /* min-height: 100vh; */
  /* height: 100%; */
}

.main-content { 
  /* flex: 1; */
  height: 100%;
}

.footer {

  /* position: relative; */
  /* bottom: 0; */
}

.nav-logo {
  display: inline-block;
  & > img {
    display: inline-block;
  }
}

.uploadIcon { 
  width: 30px;
  height: 30px;
  margin-bottom: 20px;
}

.resume {
  width: 100%;
  height: 100%;
  margin-top: 40px;
}

.resume-wrapper {
  transform: scale(1);
  transform-origin: 50% 0px;
  min-height: 1202px;
  height: 100%;
  transition: all 0.5s ease-in-out;
}

.resume-board {
  box-shadow: 1px 2px 20px rgba(0, 0, 0, .1);
}



.user-profile {
  margin: 0 30px;
}

.active {
  color: blue;
}

.w-120 {
  width: 120px;
}

.w-200 {
  width: 200px;
}

.w-250 {
  width: 250px;
}

.statistics {
  border-top: none;
  border-bottom: none;
  border-radius: 0;
  width: 200px;
  transition: all 0.3s ease-in-out;
    &:hover {
      transform: scale(1.05);
    }
}

.field-valid::after {
  content: '✔';
  color: green;
  margin-left: 5px;
}

.skills-container {
  max-width: 550px;
  margin: 0 auto;
  text-align: center;
}
.custom-checkbox input[type="checkbox"] {
  width: 1.2em;
  height: 1.2em;
  border: 2px solid #4a90e2;
  padding: 2px;
  border-radius: 4px;
  cursor: pointer;
}

.custom-checkbox input[type="checkbox"]:checked {
  background-color: #4a90e2;
  border-color: #4a90e2;
}
